﻿@* indiquer à la vue que son modèle est de type VoyageLointain :*@
@model VoyageLointain

<h1>Voyage Exclusif pour noel !</h1>

<h2>Destination : @Model.Destination.ToUpper()</h2>

<h3>Durée : @Model.Duree jours</h3>

<h3>@Model.Activities.Count Activités : </h3>

<ul>
    @foreach (string activite in Model.Activities)
    {
        <li>@activite</li>
    }
</ul>
