﻿@{
    // Razor
    ViewData["Title"] = "Privacy Policy";
    string auteur = "Thibault";
}
<h1>@ViewData["Title"]</h1>

<h2>MVC c'est chouette</h2>

<p>Cette page a été écrite par @auteur</p>

<p>Use this page to detail your site's privacy policy.</p>
