﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Elf

<div class="mainContent">
    <h1>@Model.Name</h1>
    <h2>Détails de l'Elfe</h2>
    <img src="~/images/elves/@Model.Picture" alt="@Model.Name"/>

    <table>
        <tr>
            <th>Id : @Model.Id</th>
            <th>
                @if (Model.IsAvailable)
                    {
                        <img width="20" src="/images/mainUI/oui.png" alt="oui"/>
                    }
                    else
                    {
                        <img width="20" src="/images/mainUI/non.png" alt="non"/>
                    }
            </th>
            <th>Image : @Model.Picture</th>
        </tr>
    </table>
</div>
