﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Elf

<div class="mainContent">
    <h1>@ViewBag.rubrique</h1>

    <form method="post">
        Nom : <input asp-for="Name"/>   @*Tag Helper*@
        @Html.ValidationMessageFor(model => model.Name)
        <br/>
        <input asp-for="IsAvailable"/> Disponible
        <br/>
        Image : <input asp-for="Picture"/>
        <br/>
        <a asp-controller="elf" 
	        asp-action="Index">
        <button>Save</button>
    </a>
    </form>
</div>
