﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model ElfSearchViewModel

<div class="mainContent">
    <h1>Liste des elfes</h1>

    <form method="post">
        Elf :
        <select asp-for="ElfId">
            <option value="">All...</option>
            @foreach (Elf elf in Model.ElvesDetails)
            {
                <option value="@elf.Id">@elf.Name</option>
            }
        </select>
        <br/>
        Nom : <input asp-for="ElfName"/>
        <br/>
        Category : <input asp-for="ElfCategory"/>
        <br/>
        <input id="speButton" type="submit" value="Search" />
    </form>
    <a asp-controller="elf" 
	    asp-action="create">
        <button>Create</button>
    </a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Disponible</th>
            <th>Image</th>
            <th>Category</th>
        </tr>

        @foreach (ElfDetails elf in Model.ElvesDetails)
        {
            <tr>
                <td>@elf.Id</td>
                <td>@elf.Name</td>
                <td>
                    @if (elf.IsAvailable)
                    {
                        <img width="20" src="/images/mainUI/oui.png" alt="oui"/>
                    }
                    else
                    {
                        <img width="20" src="/images/mainUI/non.png" alt="non"/>
                    }
                </td> 
                <td>@elf.Picture</td>
                <td>
                    @elf.CategoryName
                </td>
                <td>
                    <a asp-controller="elf" 
	                    asp-action="infos"
	                    asp-route-id="@elf.Id">
                        <button>Info</button>
                    </a> 
                </td>
                <td>
                    <a asp-controller="elf" 
	                    asp-action="update"
	                    asp-route-id="@elf.Id">
                        <button>Update</button>
                    </a>
                </td>            
            </tr>
        }
    </table>
</div>
