﻿<h1>Ajout d'un Elfe</h1>

<form method="post">
    Nom : <input type="text" name="nom" placeholder="nom de l'elfe"/>
    <br/>
    <input type="checkbox" name="dispo"> Disponible
    <br/>
    Image : <input type="text" name="image" placeholder="nom de l'image"/>
    <br/>
    <input type="submit" value="Créer" name="ok"/>
</form>