html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/images/mainUI/main.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color: snow;
    text-align: center;
}

.errorMessage {
    border: 1px solid red;
    border-radius:5px;
    margin:5px;
    padding:5px;
    color:red;
    background-color:#924444;
    box-shadow:inherit;
}

#santa {
    margin: 30px;
    width: 600px;
    align-content: center;
    border: dotted white;
}

.catalogue {
    display:flex;
    flex-direction:row;
}

.catalogue article {
    border : 2px solid red;
    border-radius : 5px;
    margin : 5px;
    padding : 5px;
}

    .catalogue article header {
        font-weight : bold;
        font-size : 1.5em;
        text-decoration : underline;
        color : yellow;
    }

    .prix {
        font-style : italic;
    }

th {
    padding: 30px;
} 

table {
    margin:auto;
}

.mainContent {
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

    text-shadow: 0px 0px 5px black, 0 0 10px blue, 0 0 10px blue;

    box-shadow: 60px -16px teal;
    box-shadow: inset 5em 1em gold;
    box-shadow: inset 0 0 1em gold, 0 0 2em red;

    background-image: url(/images/mainUI/table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 5px black
}

button:hover {
    border: 2px solid greenyellow;
    border-radius: 10px;
    background-color: transparent;
    color: greenyellow;
    text-shadow: 0px 0px 5px black, 0 0 10px white, 0 0 10px white;
}

#speButton {
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-shadow: 0px 0px 5px black
}

#speButton:hover {
    border: 2px solid greenyellow;
    border-radius: 10px;
    background-color: transparent;
    color: greenyellow;
    text-shadow: 0px 0px 5px black, 0 0 10px white, 0 0 10px white;
}
