﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model List<Toy>

<h1>Catalogue du père Noël</h1>

@Html.RouteLink("Nouveau", new {controller="toy", action="create"})

<section class="catalogue">

    @foreach (Toy toy in Model)
    {
    <article>
        <header>@toy.Name</header>
        <span class="prix">@toy.Price €</span> 
    </article>
    }

</section>
