﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Toy

@{
    List<Elf> elves = (List<Elf>)ViewData["listeResponsables"];
}

<h1>Ajout d'un jouet</h1>

<br/>
<form method="post">
    <label asp-for="Name">Nom</label> 
    <input asp-for="Name"/>  @*Tag Helper*@
    <br/>
    <label asp-for="Description">Description</label> 
    <textarea asp-for="Description" /></textarea>
    <br/>
    <label asp-for="Price">Prix</label>
    <input asp-for="Price" /> €
    <br/>
    <label asp-for="Id_Responsable">Responsable</label>
    @* Affichage de la liste à partir du ViewData *@
    <select asp-for="Id_Responsable">
        @foreach (Elf elf in elves)
        {
            <option value="@elf.Id">@elf.Name</option>
        }
    </select>
    
    <input type="submit" value="Ajouter" name="ok" />

</form>