﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@model Toy

@{
    //List<Elf> elves = (List<Elf>)ViewData["listeResponsables"];
    List<Elf> elves = ViewBag.ListeResponsables;
}

<div class="mainContent">
    <h1>@ViewBag.rubrique</h1>

    <form method="post">
        Nom : <input asp-for="Name"/>   @*Tag Helper*@
        <br/>
        Description : <input asp-for="Description"/>
        <br/>
        @Html.ValidationMessageFor(model => model.Price)
        Prix : <input asp-for="Price"/>
        <br/>
        <label asp-for="Id_Responsable">Responsable :</label>   
        @* Affichage de la liste d'elfes à partir du ViewData *@
        <select asp-for="Id_Responsable">
        @foreach (Elf elf in elves)
        {
            <option value="@elf.Id">@elf.Name</option>
        }
    </select>
        <br/>
        <a asp-controller="Toy" 
	        asp-action="Update">
            <button>Save</button>
        </a>
        <br/>
        @if (Model != null && Model.Id > 0)
        {
        <input id="speButton" type="submit" value="Delete" formaction="@Url.Action("Delete",new {id=Model.Id})"/>
        }
    </form>
</div>
