﻿@using Fr.EQL.AI110.ChristmasFactory.Entities
@using Fr.EQL.AI110.ChristmasFactory.Web.Models
@model ToySearchViewModel

<div class="mainContent">
    <h1>Liste des jouets</h1>

    <form method="post">
        Responsable :
        <select asp-for="Id_Responsable">
            <option value="">All...</option>
            @foreach (Elf elf in Model.Elves)
            {
                <option value="@elf.Id">@elf.Name</option>
            }
        </select>
        <br/>
        Nom : <input asp-for="ToyName"/>
        <br/>
        Min Price : <input asp-for="Min_Price"/>
        <br/>
        Max Price : <input asp-for="Max_Price"/>
        <br/>
        <input id="speButton" type="submit" value="Search" />
    </form>

    <a asp-controller="toy"
       asp-action="create">
        <button>Create</button>
    </a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Id_Responsable</th>
        </tr>

        @foreach (ToyDetails toy in Model.Toys)
        {
            <tr>
                <td>@toy.Id</td>
                <td>@toy.Name</td>
                <td>@toy.Description</td>
                <td>@toy.Price</td>
                <td>@toy.Id_Responsable</td>
                <td>
                    <a asp-controller="toy"
                   asp-action="update"
                   asp-route-id="@toy.Id">
                        <button>Update</button>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
